* {
  font-family: "Lexend", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #39393a;
}
a {
  text-decoration: none;
}

body {
  background-color: #e6e6e6;
}
.title {
  text-align: center;
  margin: 20px 0px;
}
.options {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.options .link{
  border: 1px solid black;
  border-radius: 12px;
  padding: 5px;
} 
.options .link:hover{
  background-color: #F3A712;
}
.options .link:active{
  background-color: #F3A712;
  transform: translateY(-3%);
}
.link .emoji{
  font-size: 120px;
}

